body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  position: relative;
  z-index: 1;
}

.background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 2;
  background-color: #1c1c1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: #ffa500;
  padding: 10px 20px;
  border: 3px solid #23a6d5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.app-name:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a,
.menu span {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.content {
  padding-top: 30px; /* Adjust this value for more space at the top */
  padding-bottom: 60px; /* Adjust this value for more space at the bottom */
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(
    100vh - 120px
  ); /* Ensure the content area takes the full height of the viewport */
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  padding: 40px; /* Add padding to the top and bottom */
}

.landing-page h1 {
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.landing-page p {
  font-size: 1.5rem;
  margin-bottom: 2em;
}

#company-name {
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

#company-name:hover {
  transform: scale(1.1);
  color: #36d7b7;
}

.landing-page button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #1c1c1e;
  background-color: #ffa500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landing-page button:hover {
  background-color: #ff8c00;
}

.signup-message {
  margin-top: 20px;
  text-align: center;
}

.signup-message a {
  color: #007bff;
  text-decoration: none;
}

.signup-message a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-block {
  text-align: center;
  margin: 10px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
