.landing-page {
    background: #1c1c1e; /* Dark background color */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f5f5f7; /* Light text color */
    text-align: center;
  }
  
  .landing-header {
    margin-bottom: 50px;
  }
  
  .landing-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffa500; /* Orange title color */
  }
  
  .landing-subtitle {
    font-size: 1.5rem;
    color: #ffa500; /* Orange subtitle color */
  }
  
  .landing-content {
    background: #2c2c2e; /* Slightly lighter dark background */
    color: #f5f5f7;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .landing-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .landing-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .get-started-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #1c1c1e;
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .get-started-button:hover {
    background-color: #ff8c00;
  }
  
  .background {
    background: url('/bitdata.jpeg') no-repeat center center fixed; /* Use the image */
    background-size: cover; /* Ensure the image covers the background */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  